.titlecontent {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 4%;
}
#title_1 {
  font-size: 420%;
}
.downloadstep {
  width: 80%;
  margin: 0 auto;
}
#Python {
  text-decoration: none;
}
#Python:hover {
  text-decoration: underline;
}
pre {
  position: relative;
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  font-family: monospace;
  overflow-x: auto;
}
.copy-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #369060;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
}

.copy-button:hover {
  background-color: #2d4531;
}
#button {
  background-color: #2d4531;
  outline: none;  
  box-shadow: none;
  border-style: none;
}
